<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
  <extensions>
    <add assembly="Adlibris.NLogExtensions" />
  </extensions>
  <variable name="customDateFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss}" />

  <variable name="logDirectory" value="C:/logs/Rille.Hass.Broker/" />
  <!--c:\log\Product.Export.Marketplace.Sku\-->
    <!--E:\Loggar-->
  
  <variable name="shortLogWithException" value="[${level:upperCase=true}] : ${message}. ${onexception: (EXCEPTION TYPE\: ${exception:format=type}. MESSAGE\: ${exception:format=message}. METHOD\: ${exception:format=method}.)}" />
  <variable name="shortLogWithDetailedException" value="[${level:upperCase=true}] : ${message}. ${onexception: ${newline} (Exception.StackTrace\: ${stacktrace}) ${newline} (Exception.Callsite\: ${callsite:includeSourcePath=true}) ${newline} (Exception.Message\: ${exception:format=message}) ${newline} (Exception.ToString\: ${exception:format=toString})} ${newline}=================== END OF LOG-ITEM ==============================" />

  <targets>
    <target name="consoleLog" type="ColoredConsole" layout="${customDateFormat} ${shortLogWithException}" />
    <target name="Debug[DTIWEF]"      type="File" filename="${logDirectory}/Debug[DTIWEF].log"      layout="${customDateFormat} ${shortLogWithException}"         ConcurrentWrites="False" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="3" archiveFileName="${logDirectory}/Archived/Debug[DTIWEF].{#}.log" />
    <target name="Common[IWEF]"       type="File" filename="${logDirectory}/Common[IWEF].log"       layout="${customDateFormat} ${shortLogWithException}"         ConcurrentWrites="False" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="3" archiveFileName="${logDirectory}/Archived/Common[IWEF].{#}.log" />
    <target name="ErrorsCrashes[EF]"  type="File" filename="${logDirectory}/ErrorsCrashes[EF].log"  layout="${customDateFormat} ${shortLogWithDetailedException}" ConcurrentWrites="False" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="3" archiveFileName="${logDirectory}/Archived/ErrorsCrashes[EF].{#}.log" />
  </targets>
  <rules>
    <logger name="*" writeTo="consoleLog" levels="Trace,Debug,Info,Warn,Error,Fatal" />
    <logger name="*" writeTo="Debug[DTIWEF]" levels="Trace,Debug,Info,Warn,Error,Fatal" />
    <logger name="*" writeTo="Common[IWEF]" levels="Info,Warn,Error,Fatal" />
    <logger name="*" writeTo="ErrorsCrashes[EF]" levels="Error,Fatal" />
  </rules>
</nlog>
